openapi: 3.2.0
info:
  title: Digital Audience Builder (DAB) Suspend API
  description: 'The Digital Audience Builder (DAB) API provides customers

    the ability to programmatically create and edit custom audiences.


    ### **Security**

    All API endpoints are secured with OAuth 2.0 bearer token authentication. Developers must include a valid Bearer token in the Authorization request header to access endpoints.

    Go to the [Get Started](/get-started) page for additional details.


    ### **Error Handling**

    The API returns appropriate HTTP status codes and error messages in case of unauthorized access (401 Unauthorized) or forbidden actions (403 Forbidden), ensuring secure and reliable interaction.


    ### **Reference Data**

    The API may utilize reference attribute data within a request or response body. See [Reference API](/docs/reference-api/1/overview) for a complete list of supported reference attributes.

    '
  version: v1
servers:
- url: https://api.bombora.com/digital-audiences/v1
security:
- bearerAuth: []
tags:
- name: Suspend
paths:
  /{dataexchange}/{externalId}/{partnerId}/suspend:
    put:
      summary: Suspend a digital audience.
      description: 'The Suspend endpoint allows users to suspend an existing Digital Audience.

        * The Last Modified By column for the Digital Audience will be set as DAB API.

        '
      parameters:
      - $ref: '#/components/parameters/dataexchange'
      - $ref: '#/components/parameters/externalId'
      - $ref: '#/components/parameters/partnerId'
      responses:
        '204':
          description: No Content - Request was successful
        '401':
          description: Unauthorized - Request was not properly authorized
        '403':
          description: Forbidden - Request for segment activation was not properly authorized
        '404':
          description: Not Found - Segment does not exist
      tags:
      - Suspend
components:
  schemas:
    DataExchanges:
      type: string
      description: '

        Available data exchanges.


        * `adobe` - Adobe

        * `appnexus` - Xandr (AppNexus)

        * `blue_kai` - BlueKai

        * `eyeota` - Eyeota

        * `liveramp` - LiveRamp

        * `lotame` - Lotame

        * `measure` - Test Only

        * `media_math_direct` - MediaMathDirect

        * `taboola_direct` - Taboola

        * `trade_desk_direct` - theTradeDesk

        * `rtvi` - Visitor Insights w/ Real Time Capabilities

        '
      enum:
      - adobe
      - appnexus
      - blue_kai
      - eyeota
      - liveramp
      - lotame
      - measure
      - media_math_direct
      - taboola_direct
      - trade_desk_direct
      - rtvi
  parameters:
    dataexchange:
      name: dataexchange
      in: path
      required: true
      description: Data exchange which owns the digital audience.
      schema:
        $ref: '#/components/schemas/DataExchanges'
    partnerId:
      name: partnerId
      in: path
      required: false
      description: "The partner ID of the digital audience. \n* Only required for Adobe, Xandr (Appnexus), and theTradeDesk.\n"
      schema:
        type: string
    externalId:
      name: externalId
      in: path
      required: true
      description: The external ID of the digital audience.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
